#root {
    --brown: #c18b57;
    --dark: #292927f7;
    --light-blue: #9dbacc;
    --darker-blue: #69a4c8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* tooop */
.upper {
    background-color: var(--dark);
    color: white;
}
/* tooop */

/* body */
.body {
    background-image: linear-gradient(
        white,
        var(--light-blue),
        var(--darker-blue)
    );
    padding-bottom: 30px;
}
.licence {
    background-color: var(--brown);
}
.master {
    background-color: #0a1c3c;
}
.formation {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid white;
    outline: none;
    color: white;
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
}
.formation:hover {
    color: #fff;
    transform: scale(1.02);
}
/* body */

/* nav */
.link-text{
    color: #0000008c ;
    text-decoration: none;
}
.link-text:hover{
    color: #000000ce ;
}
.link{
    text-decoration: none;
    color: #0000008c ;
}
.link:hover{
    color: #0000008c ;
}
/* nav */



/* formations */
.item:hover{
    transition: .4s;
    background-color: #2626261a;
}
/* formations */

/* footer */
.foot {
    padding: 30px 0px;
    color: #fff;
    background-color: var(--dark);
    line-height: 25px;

}
.footlogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot .col{
  padding: 0px 50px;
}
.foot ul {
    font-size: 14px;
    list-style: none;
    padding: 0px;
}
.foot li a {
    text-decoration: none;
    color: #fff;
}
/* footer */

/* copyright */
.copy {
    text-align: center;
    margin: 0px;
    padding: 25px;
    color: #fff;
    background: #262626;
}
/* copyright */

.bottom{           
position: absolute;
    bottom: 0px;
    width: 100%;
}